.revenue-action-btn svg {
  color: var(--chakra-colors-inactive-900);
  transition: all 0.5s;
}

.delete-revenue-btn:hover svg {
  color: var(--chakra-colors-alert-900);
}

.update-revenue-btn:hover svg {
  color: var(--chakra-colors-secondary-900);
}
